{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Courses {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            </nav>
            <h2 class="h4">all Courses </h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button type="button" class="btn btn-outline-success open-modal-button" data-bs-toggle="modal"
                    data-bs-target="#modal-form">
                <i class="fa fa-plus" aria-hidden="true"></i> New Courses
            </button>
        </div>
    </div>

    <div class="modal fade" id="modal-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable custom-modal " role="document">
            <div class="modal-content setting-content">
                <div class="row ">
                    <!-- Sidebar -->
                    <div class="col-md-3  p-0 sidebar-modal">
                        <div class="nav flex-column tab-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="settingProp" data-bs-toggle="pill" href="#settingProp"
                               role="tab"
                               aria-controls="prop" aria-selected="true">Course Properties</a>
                            <a class="nav-link" id="settingQBank" data-bs-toggle="pill" href="#settingQBank"
                               role="tab"
                               aria-controls="propId" aria-selected="false">Question Bank</a>
                            <a class="nav-link" id="settingStudents" data-bs-toggle="pill" href="#settingStudents"
                               role="tab"
                               aria-controls="qPropId" aria-selected="false">Students</a>
                        </div>
                    </div>
                    <!-- Main Content -->
                    <div class="col-md-9">
                        <div class="modal-body p-4">
                            <button type="button" class="btn-close position-absolute top-0 end-0 m-2"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="text-center mb-4">
                                <h2 class="mb-0 h4">Create New Course</h2>
                            </div>

                            <div class=" modal-body p-0">
                                <div class="card p-3 p-lg-4 modal-height">

                                    <form id="courseForm" class="mt-4">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div id="settingPropId">
                                                <div class="mb-3">
                                                    <label for="label">Course Name</label>
                                                    <input type="text" class="form-control" id="label" required>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="datePicker">Year</label>
                                                    <div class="input-group">
                                                            <span class="input-group-text">
                                        <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                                        <input data-datepicker="" class="form-control datePicker"
                                                               placeholder="dd/mm/yyyy" id="datePicker" type="text"
                                                               required>
                                                    </div>
                                                </div>
                                                <div id="settingScoreId">
                                                    <div class="form-group row mt-3" id="termContainer">
                                                        <label for="termId"
                                                               class="col-sm-4 col-form-label">Term:</label>
                                                        <div class="col-sm-8">
                                                            <input type="number" class="form-control"
                                                                   id="termId"
                                                                   name="termId" max=100>
                                                        </div>

                                                    </div>
                                                </div>


                                                <div class="form-group row mt-3" id="courseCodeContainer">
                                                    <label for="courseCode"
                                                           class="col-sm-7 col-form-label incorrect-penalty">Course
                                                        Code:
                                                    </label>
                                                    <div class="col-sm-5">
                                                        <input type="number" class="form-control"
                                                               id="courseCode" name="courseCode">
                                                    </div>

                                                </div>
                                            </div>

                                            <div id="q_bank_table">

                                                <table class="table table-striped table-bordered mt-1">
                                                    <thead>

                                                    <tr>
                                                        <th scope="col" style="width: 16.66%">Select</th>
                                                        <th scope="col">Question Bank</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="tbodyMultiQ">
                                                    <tr>
                                                        <th scope="row">
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" id="new_bank"
                                                                       data-id="new_bank" name="selected_bank"
                                                                       class="custom-control-input">
                                                                <label class="custom-control-label"
                                                                       for="new_bank"></label>
                                                            </div>

                                                        </th>
                                                        <td>
                                                            <input type="text" class="form-control" id="new_bank_input"
                                                                   aria-label="Text input with segmented dropdown button">

                                                        </td>

                                                    </tr>
                                                    {% for field in banks_data %}
                                                        <tr>
                                                            <th scope="row">
                                                                <div class="custom-control custom-radio">
                                                                    <input type="radio" id="{{ field.id }}_bank"
                                                                           data-id="{{ field.id }}"
                                                                           name="selected_bank"
                                                                           class="custom-control-input">
                                                                    <label class="custom-control-label"
                                                                           for="{{ field.id }}_bank"></label>
                                                                </div>

                                                            </th>
                                                            <td>{{ field.name }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>


                                            </div>

                                            <div id="submitIdBtn">
                                                <div class="d-grid mt-4">
                                                    <button type="submit" id="submitButton"
                                                            class="btn btn-outline-success">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div id="student_import">
                                        <input type="file" id="excelFileInput" class="form-control mb-3"
                                               accept=".xlsx, .xls" lang="pl-Pl">

                                        <button class="btn btn-outline-success" onclick="uploadExcelFile( )">Upload
                                            Excel File
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="card custom-card shadow" style="height: 100vh">
            <div class="card-header  text-white">
                <h5 class="card-title">Courses</h5>
            </div>
            <div class="card-body" style="height: 100%">
                <div class="table-settings mb-4">
                    <table id="courseTable" class="table table-striped" style="width:100%; height: 100%">
                        <thead class="thead-dark">
                        <tr>
                            <th>Label</th>
                            <th>Code</th>
                            <th>Term</th>
                            <th>Year</th>
                            <th>Setting</th>
                            <th>QBqnk</th>
                            <th>examlist</th>
                            <th>Delete</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for field in courses %}
                            <tr>
                                <td>{{ field.course_name }}</td>
                                <td>{{ field.course_code }}</td>
                                <td>{{ field.term }}</td>
                                <td>{{ field.year }}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-success open-modal-button"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal-form" data-id={{ field.id }}>
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </button>
                                </td>

                                <td>
                                    <button type="button" class="btn btn-outline-primary showqbtn"
                                            onclick="window.location.href='/builder/{{ field.question_bank.id }}/q_bank'">
                                        <i class="fa fa-bank" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning showqbtn"
                                            onclick="window.location.href='/exams/{{ field.id }}/list'">
                                        <i class="fa fa-list" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger showqbtn open-delete-modal"
                                            data-bs-toggle="modal" data-bs-target="#deleteModal"
                                            data-id="{{ field.id }}">
                                        <i class='fa fa-trash'></i>
                                    </button>
                                </td>


                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Course</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure to delete course ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger delete-course">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
    <script>
        var coursesData = {{ courses_json|safe }};
    </script>
    <script src="{% static 'js/courses.js' %}"></script>
{% endblock javascripts %}
