{% extends "layouts/base.html" %}
{% load static %}

{% block title %} مدیریت آزمون ها {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            </nav>
            <h2 class="">مدیریت آزمون ها</h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button id="new-exam-button" type="button" class="btn btn-outline-success open-modal-button"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-form">
                <i class="fa fa-plus" aria-hidden="true"></i> ایجاد آزمون جدید
            </button>
        </div>
    </div>

    <div class="modal fade" id="modal-form" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         role="dialog" aria-labelledby="modal-form" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable custom-modal " role="document">
            <div class="modal-content setting-content">
                <div class="row ">
                    <!-- Sidebar -->
                    <div class="col-md-3  p-0 sidebar-modal">
                        <div class="nav flex-column tab-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link active" id="settingProp" data-bs-toggle="pill" href="#settingProp"
                               role="tab"
                               aria-controls="prop" aria-selected="true">تنظیمات</a>
                            {#                            <a class="nav-link" id="settingScore" data-bs-toggle="pill" href="#settingScore" role="tab"#}
                            {#                               aria-controls="propId" aria-selected="false">Quiz Scoring</a>#}
                            {#                            <a class="nav-link" id="settingQProp" data-bs-toggle="pill" href="#settingQProp" role="tab"#}
                            {#                               aria-controls="qPropId" aria-selected="false">Question Properties</a>#}
                            <a class="nav-link" id="qListId" data-bs-toggle="pill" href="#qListId" role="tab"
                               aria-controls="qListId" aria-selected="false"> لیست سوالات</a>
                        </div>
                    </div>
                    <!-- Main Content -->
                    <div class="col-md-9">
                        <div class="modal-body p-4">
                            <button type="button" class="btn-close position-absolute top-0 end-0 m-2"
                                    data-bs-dismiss="modal" aria-label="Close"></button>
                            <div class="text-center mb-4">
                                <h2 class="mb-0 h4" id="exam-title">ایجاد درس جدید</h2>
                            </div>

                            <div class=" modal-body p-0">
                                <div class="card p-3 p-lg-4 modal-height">

                                    <form id="examForm" class="mt-4">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div id="settingPropId">
                                                <div class="mb-3">
                                                    <label for="label">نام آزمون</label>
                                                    <input type="text" class="form-control" id="label" required>
                                                    <div class="valid-feedback">Looks good!</div>
                                                </div>


                                                <div class="mb-4">
                                                    <label for="durationInput" class="form-label">مدت زمان آزمون</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-text"><i class="fa fa-clock-o"
                                                                                          aria-hidden="true"></i></span>
                                                        <input type="text" id="durationInput" class="form-control"
                                                               required>
                                                    </div>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="exam_date" class="form-label">تاریخ برگزاری
                                                        آزمون</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-text"><i aria-hidden="true"></i></span>
                                                        <input type="text" id="exam_date" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="mb-4">
                                                    <label for="exam_time" class="form-label">زمان برگزاری آزمون</label>
                                                    <div class="input-group date">
                                                        <span class="input-group-text"><i aria-hidden="true"></i></span>
                                                        <input type="text" id="exam_time" class="form-control" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group row " hidden="hidden">
                                                        <label for="selectTypeScore"
                                                               class="col-sm-5 col-form-label">Score In:</label>
                                                        <div class="col-sm-7">
                                                            <select class="form-control" id="selectTypeScore">
                                                                {#                                                                                                                                                <option value="PE">Percent</option>#}
                                                                <option value="PO">Points</option>
                                                            </select>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="form-group row mt-3" id="passingScoreContainer">
                                                    <label for="passingScore" class="col-sm-4 col-form-label">نمره
                                                        قبولی </label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control"
                                                               id="passingScore"
                                                               name="passingScore">
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="container mt-4">
                                                <div class="row">
                                                    <div id="settingScoreId">
                                                        <div class="alert alert-danger custom-alert mt-2 mx-4"
                                                             id="invalidNumberAlert"
                                                             style="display: none;">
                                                            Passing score can not be more than 100 percent
                                                        </div>
                                                    </div>
                                                    <div id="settingQPropId">

                                                        <div class="form-group row mt-3" id="incorrectPenaltyContainer"
                                                             hidden="hidden">
                                                            <label for="incorrectPenalty"
                                                                   class="col-sm-7 col-form-label incorrect-penalty">Penalty
                                                                point for incorrect answer:</label>
                                                            <div class="col-sm-5">
                                                                <input type="number" class="form-control"
                                                                       id="incorrectPenalty" name="incorrectPenalty">
                                                            </div>

                                                        </div>


                                                        <div class="form-check mt-3" hidden="hidden">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="unAnsweredQuestionCheckBox">
                                                            <label class="form-check-label"
                                                                   for="unAnsweredQuestionCheckBox">
                                                                Apply penalty to unanswered questions
                                                            </label>
                                                        </div>

                                                        <div class="form-check mt-3" hidden="hidden">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="shuffleAnswerCheckbox">
                                                            <label class="form-check-label" for="shuffleAnswerCheckbox">
                                                                shuffle answer choices
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="table-q-bank mb-4" id="table-q-bank">
                                                        <button id="toggleColumnsBtn" type="button"
                                                                class="btn btn btn-outline-primary">انتخاب درهم یا دستی
                                                        </button>

                                                        <table id="qBankTable" class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th>نام گروه</th>
                                                                <th class="shuffle-choose">تعداد سوالات</th>
                                                                <th class="manual-choose">همه سوالات</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for field in q_bank %}
                                                                <tr>
                                                                    <td>{{ field.name }}</td>
                                                                    {#                                                                                    <td>{{ field.deadline }}</td>#}
                                                                    <td class="shuffle-choose">
                                                                        <label for="numberSelect" class="form-label">انتخاب
                                                                            تعداد سوالات</label>
                                                                        <select class="numberSelect form-select"
                                                                                data-id="{{ field.id }}">
                                                                            <script>
                                                                                var numberOfOptions = {{ field.number }};

                                                                                for (var i = 0; i <= numberOfOptions; i++) {
                                                                                    document.write('<option value="' + i + '">' + i + '</option>');
                                                                                }
                                                                            </script>
                                                                        </select>
                                                                    </td>
                                                                    <td class="manual-choose">
                                                                        <ul class="list-group">
                                                                            {% for question in field.group.question_group_questions.all %}
                                                                                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success">

                                                                                    <div class="question-description">
                                                                                        <div class="scrollable-text">{{ question.description }}</div>
                                                                                    </div>
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input class="form-check-input q-choose-checkbox"
                                                                                               type="checkbox"
                                                                                               data-id="{{ question.id }}">
                                                                                    </div>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="d-grid mt-4">
                                            <button type="submit" id="submitButton" class="btn btn-outline-success">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                    <div class="alert alert-danger custom-alert mt-1  mb-1" id="invalidAlert"
                                         style="display: none;">
                                        please fill all feilds
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-settings mb-4">
        <table id="examTable" class="table table-striped">
            <thead>
            <tr>
                <th>نام آزمون</th>
                <th>مدت زمان آزمون</th>
                <th>تنظیمات</th>
                <th>مشاهده</th>
                <th>نتایج</th>
                <th>وضعیت آزمون</th>
                <th>حذف</th>

            </tr>
            </thead>
            <tbody>
            {% for field in exams %}
                <tr>
                    <td>{{ field.label }}</td>
                    {#                <td>{{ field.deadline }}</td>#}
                    <td>{{ field.duration }}</td>
                    <td>
                        <button id="update-exam-button" type="button" class="btn btn-outline-success open-modal-button"
                                data-bs-toggle="modal"
                                data-bs-target="#modal-form" data-id={{ field.id }}>
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-primary showqbtn"
                                onclick="window.location.href='/taker/{{ field.id }}/exam_session'">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary showqbtn"
                                onclick="window.location.href='/results/list/{{ field.id }}'">
                            <i class="fa fa-certificate" aria-hidden="true"></i>
                        </button>
                    </td>
                    <td>
                        {% if  field.exam_status == 'R' %}
                            <button type="button" class="btn btn-outline-warning showqbtn open-active-modal"
                                    data-bs-toggle="modal" data-bs-target="#activeModal" data-id="{{ field.id }}">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                        {% if  field.exam_status == 'E' %}
                            <button type="button" class="btn btn-outline-dark showqbtn open-active-modal disabled"
                                    data-bs-toggle="modal" data-bs-target="#activeModal" data-id="{{ field.id }}">
                                <i class="fas fa-hourglass-end" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                        {% if  field.exam_status == 'A' %}
                            <button type="button" class="btn btn-outline-dark showqbtn open-active-modal disabled"
                                    data-bs-toggle="modal" data-bs-target="#activeModal" data-id="{{ field.id }}">
                                <i class="fa fa-bell" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger showqbtn open-delete-modal"
                                data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ field.id }}">
                            <i class='fa fa-trash'></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
         aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">حذف آزمون</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    آیا مطمئن هستید که میخواهید آمون موردنظر را حذف کنید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-danger delete-exam">حذف</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="activeModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
         aria-labelledby="activeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activeModalLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    آیا مطمئن هستید که میخواهید آزمون موردنظر را فعال کنید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-warning active-exam">فعال</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}

    <script>
        var examsData = {{ exams_json|safe }};

    </script>

    <script src="{% static 'js/exam.js' %}"></script>
{% endblock javascripts %}
