{% extends "layouts/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block title %} Results {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            </nav>
            <h2 class="h4">Change Profile Password </h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">

        </div>
    </div>

    <div class="container-fluid">

        <div class="card custom-card shadow">
            <div class="card-header  text-white">
                <h5 class="card-title">Change Password</h5>
            </div>
            <div class="card-body" style="height: 100%">
                <div class="row">
                    <div class="col-md-6">

                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="old_password" class="form-label " style="color: #2F4F4F;">Old
                                    Password</label>
                                {{ form.old_password|add_class:"form-control" }}
                            </div>
                            <div class="mb-3">
                                <label for="new_password1" class="form-label" style="color: #2F4F4F;">New
                                    Password</label>
                                {{ form.new_password1|add_class:"form-control" }}
                            </div>
                            <div class="mb-3">
                                <label for="new_password2" class="form-label" style="color: #2F4F4F;">New Password
                                    Confirmation</label>
                                {{ form.new_password2|add_class:"form-control" }}
                            </div>
                            {#                    {{ form.as_p }}#}
                            <button type="submit" id="createQuestionGroupButton"
                                    class="btn btn-outline-success mx-1">
                                Change Password
                            </button>
                        </form>
{% if messages %}
    <div class="alert alert-danger  custom-alert mt-2 mx-4" id="error-messages">

{#  <div id="error-messages" class="card text-white bg-danger mt-2 mb-3 ch-pass-alert">#}
    <div class="card-body ">
      <ul class="list-unstyled">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

<script>
  setTimeout(function() {
    var errorMessages = document.getElementById('error-messages');
    if (errorMessages) {
      errorMessages.style.display = 'none';
    }
  }, 3000);
</script>

                    </div>


                    <div class="col-md-6"></div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
    {#    TODO#}
    <script src="{% static 'js/result.js' %}"></script>

    {#<script src="{% static 'js/courses.js' %}"></script>#}
{% endblock javascripts %}
