{% extends "layouts/base.html" %}
{% load static %}

{% block title %} گزارش گیری {% endblock %}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            </nav>
            <h2 class="">گزارش گیری </h2>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <button class="btn btn-outline-success" onclick="exportToExcel()">استخراج فایل اکسل
            </button>
        </div>
    </div>

    <div class="container-fluid">
        <form id="search-form">
            <div class="row">
                <div class="col-md-6">
                    <label for="username" class="form-label">جستجو براساس نام کاربری</label>
                    <div class="input-group">
                        <input type="text" class="form-control username-search" id="username"
                               placeholder="Search Student Username">
                    </div>
                    <div class="mt-2">
                        <label for="teacher_id" class="form-label">انتخاب استاد </label>
                        <select class="form-select" id="teacher_id" name="teacher_id">
                            <option value="">None</option>
                            {% for course in teachers %}
                                <option value="{{ course.id }}">{{ course.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mt-2">
                        <label for="exam_id" class="form-label">انتخاب آزمون</label>
                        <select class="form-select" id="exam_id" name="exam_id">
                            <option value="">None</option>
                            {% for course in exams %}

                                <option value="{{ course }}">{{ course }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mt-2">
                        <label for="course_id" class="form-label">انتخاب درس</label>
                        <select class="form-select" id="course_id" name="course_id">
                            <option value="0">None</option>
                            {% for course in courses %}
                                <option value="{{ course.course_name }}">{{ course.course_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mt-2">
                        <label for="entry_year_id" class="form-label">انتخاب سال ورود</label>
                        <select class="form-select" id="entry_year_id" name="entry_year_id">
                            <option value="">None</option>
                            {% for course in entry_years %}
                                <option value="{{ course }}">{{ course }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="mt-3 mb-3">
                <button type="button" class="btn btn-outline-primary" id="searchReport">جستجو</button>
            </div>
        </form>
    </div>




    <table id="courseTable" class="table table-striped" style="width:100%; height: 100%">
        <thead class="thead-dark">
        <tr>
            <th>نام کاربریس دانشجو</th>
            <th>سال ورود دانشجو</th>
            <th>نام درس</th>
            <th>ترم ارائه درس</th>
            <th>نام استاد</th>
            <th>نام آزمون</th>
            <th>نمره قبولی</th>
            <th>حداکثر نمره</th>
            {#            <th>Average Score</th>#}
            <th>نمره دانشجو</th>
        </tr>
        </thead>
        <tbody>
        {% for field in results_data %}
            <tr>
                {#                <td>{{ field.username }}</td>#}
                {#                <td>{{ field.entry_year }}</td>#}
                {#                <td>{{ field.course_name }}</td>#}
                {#                <td>{{ field.term }}</td>#}
                {#                <td>{{ field.teacher }}</td>#}
                {#                <td>{{ field.exam_label }}</td>#}
                {#                <td>{{ field.pass_score }}</td>#}
                {#                <td>{{ field.max_score }}</td>#}
                {#                <td>{{ field.avg_score }}</td>#}
                {#                <td>{{ field.score }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>




{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}
    <script>


    </script>

    <script src="{% static 'js/reports.js' %}"></script>
{% endblock javascripts %}
