{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <!-- Add Bootstrap and jQuery -->

    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="login_body">
<div class="container login-container">
    <h2 class="mt-2">Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label " style="color: #2F4F4F;">Username</label>
            {{ form.username|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label" style="color: #2F4F4F;">Password</label>
            {{ form.password|add_class:"form-control" }}
        </div>
        <div class="mb-3" style="display: flex; align-items: center;">
            {{ form.captcha|add_class:"form-control ml-5" }}
        </div>
        <div class="text-center mt-3">
            <button type="submit" class="btn btn-dark btn-lg">Login</button>
        </div>
    </form>
    <p class="text-center mt-3 mb-5 h6">Welcome To Sattari university online exam</p>

</div>
</body>
</html>
