.custom-card {
    background-color: #dcdcdc; /* Set your desired background color for the card */
    border: none; /* Remove the card border */
    border-radius: 15px; /* Add rounded corners for a nicer look */
}

.custom-card .card-header {
    background-color: #c0c0c0;
    border-radius: 15px 15px 0 0; /* Set your desired background color for the card title */
}

.custom-card .card-body {
    padding: 20px; /* Add some padding to the card body */
}

.q-result-card {
    background-color: #eae8f5; /* Set your desired background color for the card */
    border: none; /* Remove the card border */
    border-radius: 15px; /* Add rounded corners for a nicer look */
}

.q-result-card .card-header {
    background-color: #d3e0dc;
    border-radius: 15px 15px 0 0; /* Set your desired background color for the card title */
}

.q-result-card .card-body {
    padding: 20px; /* Add some padding to the card body */
}

.setting-content {
    height: 600px; /* Set the desired height */
    border: none;

}

.tab-pills .nav-link {
    color: #800080; /* Tab text color */
    background-color: #001f3f; /* Tab background color */

}

.tab-pills .nav-link.active {
    background-color: #FFF5E1; /* Active tab background color */
    color: #333366; /* Active tab text color */
    font-weight: bold;
}

.modal-lg {
    max-width: 90%; /* Adjust modal width as needed */
}

.modal-dialog {
    max-height: 90vh; /* Adjust modal height as needed */
}

.modal-body {
    padding: 2rem;
}

.btn-close {
    color: #333; /* Close button color */
}

.btn-close:hover {
    color: #007bff; /* Close button hover color */
}

.custom-modal {
    max-width: 50%; /* Adjust the max-width to your desired size */
}

.custom-alert {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    font-size: 0.875rem; /* Adjust font size as needed */
}

.modal-height {
    height: 25em;
    overflow: auto;
}

.sidebar-modal {
    border-radius: 10px;
    background-color: #001f3f;
    height: 40em;
}

.incorrect-penalty {
    font-size: 15px;
}

#submitButton {
    position: relative;
    bottom: 10px;
    right: 10px;
}

.delete-modal {
    max-width: 60%; /* Adjust the width as needed */
    margin: 0 auto;
}

.icon-box {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: linear-gradient(135deg, #5e5e5e, #8c8c8c);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.icon-box-uncheck {
    display: inline-flex;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: linear-gradient(135deg, #2980b9, #2c3e50);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}


.danger {
    color: #e74c3c;
}

.success {
    color: #2ecc71;
}

.navbar {
    background-color: #6f42c1;
}

/* Add a subtle transition to make the scaling effect smoother */
.list-group-item {
    background: linear-gradient(to right, #C0C0C0, #D3D3D3);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Apply scaling effect on hover and background color change */
.list-group-item:hover {
    transform: scale(1.1);
    background: linear-gradient(to right, #5C258D, #4389A2);
}

/* Animation for list items to slide in from the left */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.list-group-item {
    padding: 15px 0;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.increased-height {
    padding: 15px 0; /* Adjust the padding values as needed */
}

.foot-page {
    background-color: #6f42c1;
}
.question-description {
    width: 200px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    overflow: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    scrollbar-width: thin;
    scrollbar-color: #888 #eee;
}

.question-description::-webkit-scrollbar {
    width: 8px;
}

.question-description::-webkit-scrollbar-track {
    background-color: #eee;
}

.question-description::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scrollable-text {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.background-index {
    background-image: url('images/f14.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Adjust the appearance of the duration input field */
.input-group-text {
  background-color: #f8f9fa;
  border-color: #ced4da;
  color: #6c757d;
}

.form-control.timePicker {
  border-color: #ced4da;
}

/* Adjust the size and spacing of the duration input field */
#durationInput {
  width: 200px;
}

.modal-wide .modal-dialog {
  max-width: 800px; /* Adjust the width as desired */
}

.ch-pass-alert {
    padding: 0.5rem 1rem; /* Adjust padding as needed */
    font-size: 0.875rem; /* Adjust font size as needed */
}
