body {
    font-family: 'Open Sans', sans-serif;
}
.builder-color{
    background: #F5F5F5;

}

.taker-color{
    background: #DCDCDC;

}

#mmenu_screen > .row {
    min-height: 100vh;
}

.full_height {
    min-height: 100vh;
}

.flex-fill {
    flex: 1 1 auto;
}

.background-border {
    background-color: #DCDCDC;
}

.float_list {
    float: left;
    margin: 0 20px;
}
.menu-box {
  margin: 10px;
  padding: 10px;
}
.menu-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-box ul.menu-list li {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #eee;
  background: darkgray;
}
.menu-box ul.menu-list > li a {
  background: #DFDFDF;
  display: block;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}
.menu-box ul.menu-list > li a:hover {
  cursor: move;
}
.menu-box ul.menu-list ul {
  margin-left: 20px;
  margin-top: 5px;
}
.menu-box ul.menu-list ul li a {
  color: black;
}

li a.nest {
 width: 100%;
 display: block;
 margin: 0;
 padding: 1%;
 color: white;
 cursor: pointer;
}

ul.accordion .inner {
 padding-left: 1em;
 overflow: hidden;
 display: none;
 list-style: none;
}
.tag-btn{
    background: #DFDFDF;
}