{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>

        {% block title %}

        {% endblock title %}

    </title>

    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/font/open_sans.css' %}">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.4.3.1.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'js/datatables/dataTables.bootstrap5.min.css' %}">

    <link rel="stylesheet" href="{% static 'js/fontawesome/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
<body class="container-fluid">

<!-- Load our React component. -->

<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/propper/popper.min.js' %}"></script>
<script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/jquery/jquery.mjs.nestedSortable.js' %}"></script>


<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.4.3.1.min.js' %}"></script>


<div class="content">
    {% block body_content %}

    {% endblock body_content %}
</div>

{% block javascripts %}

{% endblock javascripts %}
</body>
</html>
