{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:https="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'js/bootstrap/bootstrap.min.4.3.1.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.css' %}">


    {#        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"></link>#}

    <link rel="stylesheet" href="{% static 'js/font/open_sans.css' %}">
    {#        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"#}
    {#              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"#}
    {#              crossorigin="anonymous">#}
    <link rel="stylesheet" href="{% static 'js/fontawesome/all.min.css' %}">

    {#        <link rel='stylesheet'#}
    {#              href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>#}
    {#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"#}
    {#              integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="#}
    {#              crossorigin="anonymous" referrerpolicy="no-referrer"/>#}


    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>

<body class="container-fluid">


<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery/jquery.mjs.nestedSortable.js' %}"></script>
<script src="{% static 'js/propper/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap/bootstrap.4.3.1.min.js' %}"></script>


<div class="content">
    {% block body_content %}

    {% endblock body_content %}
</div>
</body>
</html>